.container {
  width: 250px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  color: #ebebeb;
}

.filters {
  display: inline-block;
  padding: 5px 15px;
  border-radius: 8px;
}

.filters:hover {
  background-color: #cecece;
  cursor: pointer;
  color: black;
}

.active {
  background-color: #cecece;
  color: black;
}
